.container {
  display: flex;
  justify-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  margin-top: 200px;
}

.mount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  flex-direction: column;
}
.amountContainer {
  font-size: 1.17rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.buttonContainer {
  padding-bottom: 20px;
  justify-content: flex-end;
  width: 500px;
  background-color: #f1f2f4;
}

.orderButton {
  margin-left: 20px;
  border: none;
  border-radius: 10px;
  background-color: #681801;
  padding: 5px;
  width: 60px;
  color: #fff;
  cursor: pointer;
}

.orderButton:hover {
  border: 1px solid #681801;
  background-color: #f1f2f4;
  color: #681801;
}

.hideOrderButton {
  display: none;
}
.closeButton {
  margin-left: 250px;
  border: 1px solid #681801;
  border-radius: 10px;
  background-color: #f1f2f4;
  padding: 5px;
  width: 60px;
  color: #681801;
  cursor: pointer;
}

.closeButton:hover {
  background-color: #681801;
  color: #fff;
}

.hideCloseButton {
  display: none;
}

.mount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  flex-direction: column;
}
.amountContainer {
  font-size: 1.17rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}
